<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{home}">Home</title>
</head>
<body>
<div>
    <!-- ログインユーザーの氏名(cn)を表示する -->
    <h1><span th:text="#{hello}">Hello</span> <span sec:authentication="principal.cn[0]">User</span> !</h1>
</div>

<form th:action="@{/logout}" method="post">
    <button th:text="#{buttons.logout}">Logout</button>
</form>
</body>
</html>
